@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap"); /*font-family: 'Explora', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap"); /*font-family: 'Caveat', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"); /*font-family: 'Poiret One', cursive;*/

body {
  overflow-x: hidden;
  background-color: #d8d8d8;
}

/*** Navbar ***/
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 15;
  height: 39px;
  margin: 0px;
  padding: 0px;
}

#navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  margin: auto;
  padding: 0px;
  overflow: hidden;
}

#navlist li {
  text-align: center;
  list-style: none;
  width: auto;
  margin: auto;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: white;
}

#logo {
  font-family: "Explora", cursive !important;
  font-size: 6em !important;
  margin: auto 5vw !important;
}

/*** Welcome Section ***/
#overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  overflow: hidden;
}

#welcome {
  position: relative;
  margin: auto;
  padding: 0px;
  top: -8px;
  left: -8px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  background-color: red;
}

#welcome img {
  position: relative;
  margin: auto;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

/*** Story Section ***/
#story {
  margin: auto;
  text-align: center;
  max-width: 70vw;
}

#story h3 {
  font-family: "Explora", cursive;
  font-size: 3.5em;
  margin-bottom: 10px;
}

#story p {
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
}
