@media (max-width: 1720px) {
  .award {
    width: 33vw;
  }
}

@media (max-width: 1600px) {
  .award {
    width: 30vw;
  }
}

@media (max-width: 1270px) {
  .award {
    width: 400px;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  #hamburguer {
    display: none;
  }
  #navbar {
    display: block;
  }
  .menu_show {
    left: -500px;
  }
}

@media (max-width: 1000px) {
  #hamburguer {
    display: block;
  }
  #navbar {
    display: none;
  }
  .menu_show {
    left: 0px;
  }
}

@media (max-width: 630px) {
  .award {
    margin-left: 0px;
  }

  #reservations .parallaxButton {
    width: 200px;
  }
}
