@media (min-width: 1000px) {
  #hamburguer {
    display: none;
  }
  #navbar {
    display: block;
  }
  .menu_show {
    left: -500px;
  }
}

@media (max-width: 1000px) {
  #hamburguer {
    display: block;
  }
  #navbar {
    display: none;
  }
  .menu_show {
    left: 0px;
  }
}
