@media (max-width: 1720px) {
  .award {
    width: 33vw;
  }
}

@media (max-width: 1600px) {
  .award {
    width: 30vw;
  }
}

@media (max-width: 1270px) {
  .award {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 630px) {
  .award {
    margin-left: 0px;
  }

  #reservations .parallaxButton {
    width: 200px;
  }
}
