h3 {
  text-align: center;
  margin-bottom: 0px !important;
}

label {
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
}

button {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-family: "Explora", cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 5px 30px;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}

#navbar {
  background-color: black;
  box-shadow: 0px 0px 10px 10px black;
}

#form {
  margin: auto;
  width: 75%;
  max-width: 1000px;
  margin-top: 190px;
}

.formSection {
  margin-bottom: 15px;
}

.generalMargin {
  margin-bottom: 5px;
}

.title {
  margin-bottom: 20px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.underText {
  font-family: "Poiret One", cursive;
  font-size: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.textBox {
  width: 100%;
  border-width: thin;
  border-radius: 5px;
  border-style: solid;
  border-color: darkgrey;
  height: 45px;
}

/*** Name form field ***/
.nameTextbox {
  width: 49%;
}

/*** Date form field ***/
.dateRow {
  justify-content: left !important;
}

.dateTextbox {
  margin-right: 15px;
}
